@import 'abstracts/functions';
@import 'abstracts/mixins';
@import 'abstracts/placeholders';
@import 'abstracts/variables';

@import 'base/reset';
@import 'base/typography';

@import 'themes/default';


body {
    background-color: whitesmoke;
}

h3 {
    color: $color-test;
    font-style: italic;
}

